{% load static %}
    <div class="bg-primary">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <div class="collapse navbar-collapse justify-content-center lh-lg" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/post_list">CSV Upload<strong class="float-end"></strong></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/upload"> CSV FILE UPLOAD<strong class="float-end"></strong></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/ip">Search IP Address<strong class="float-end"></strong></a>                                   
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/get_ip">User ID Address<strong class="float-end"></strong></a>                               
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/index">Select Country<strong class="float-end"></strong></a>
                                </li>
                            </ul>
                        </li>                    
                    </ul>
                </div>
            </nav>
        </div>
    </div>





