<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IP address Task</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/post_list">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/blog_list">Blog Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post_upload">CSV Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">CSV FILE UPLOAD</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/ip">Search IP Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index">Select Country</a>
      </li>
    </ul>
  </div>
</nav>